@import url("https://fonts.googleapis.com/css2?family=Figtree:wght@300..900&display=swap");

/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
  font: inherit;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

html,
body {
  height: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

img,
picture,
svg {
  max-width: 100%;
  display: block;
}

/* Custom properties */
:root {
  --mobile-size: 375px;

  /* Colors */
  --pclr-yellow: hsl(47deg 88% 63%);
  --nclr-white: hsl(0deg 0% 100%);
  --nclr-grey: hsl(0deg 0% 50%);
  --nclr-black: hsl(0deg 0% 7%);

  /* Fonts */
  --content-fs: 1rem;
  --secondary-fs: 0.875rem;
  --title-fs: 1.5rem;
  --fw-600: 600;
  --fw-800: 800;
  --ffamily: figtree;
}

/* Custom Styles */
body {
  background-color: var(--pclr-yellow);
  text-rendering: optimizespeed;
  display: grid;
  place-items: center;
}

.card {
  background-color: var(--nclr-white);
  width: 24rem;
  padding: 1.5rem;
  border: 1px solid var(--nclr-black);
  border-radius: 1.25rem;
  font-family: var(--ffamily);
  font-size: var(--secondary-fs);
  font-weight: var(--fw-600);
  line-height: 150%;
  color: var(--nclr-black);
  box-shadow: 8px 8px 0 0 var(--nclr-black);
  display: grid;
  gap: 1.5rem;
}

.card > img {
  border-radius: 0.625rem;
}

.card-contents {
  display: grid;
  gap: 0.75rem;
}

.blog-title {
  font-size: 1.5rem;
  font-weight: var(--fw-800);
}

.blog-title:hover {
  cursor: pointer;
  color: var(--pclr-yellow);
}

.blog-description {
  font-size: 1rem;
  color: var(--nclr-grey);
}

.tag {
  max-width: fit-content;
  font-weight: var(--fw-800);
  background-color: var(--pclr-yellow);
  padding: 0.25rem 0.75rem;
  border-radius: 0.25rem;
}

.card-author {
  display: flex;
  align-items: center;
  gap: 0.75rem;
  font-weight: var(--fw-800);
}

.card-author img {
  width: 2rem;
  height: 2rem;
}
